<div class="index-content">
	<div class="info-box well">
		<h3>Welcome to This Application</h3>
		<p>This app is currently under development.  Have any questions contact me:
			<ul class="contact-list">
				<li>email: <a ng-href="mailto:tylrmckenz@gmail.com">tylrmckenz@gmail.com</a></li>
				<li>twitter: <a href="https://twitter.com/tylrmckenz1">tylrmckenz1</a></li>
				<li>linkedin: <a href="https://linkedin.com/in/tyler-mckenzie-426521107">tyler-mckenzie</a></li>
			</ul>
		</p>
		<h4>About</h4>
		<p>I decided to make this quick application such that users new to budgeting can better make a decision on where or how their funds should be utilitzed.</p>
		<p>This current build is fairly small due to me removing a few features such as register/login/profile merely because I have barely gotten my feet wet with MongoDb.</p>
		<p> However I am making a second application with Rails that will host such functions and perhaps a bit more flare.</p>
	</div>
</div>
